footer.site-footer {
	.container_sidebar_two,
	.container_sidebar_three {
		margin-bottom: $base_size * 2;

		h2 {
			font-size: $base_font_size;
			text-transform: uppercase;
		}

		ul {
			list-style-type: square;
			margin: 0 0 0 $base_size * 2;
			padding: $base_size 0 0 0;
		}

		li {
			margin: 0 0 $base_size;
			padding: 0 0 $base_size;
			border-bottom: 1px solid darken($grey_light, 5%);
			font-size: $base_font_size * 0.9;
		}

		li a {
			font-size: $base_font_size * 0.9;
		}

		.widget_categories,
		.widget_tag_cloud,
		.widget_archive {
			padding: $base_size;
			border: 1px solid darken($grey_light, 5%);
			background-color: $white;
		}

		.widget_categories {
			margin-bottom: $base_size * 2;
		}

		.tagcloud {
			@extend .clearfix;

			a {
				float: left;
				margin: 0 $base_size * 0.4 $base_size * 0.4 0;
				padding: $base_size * 0.5 $base_size * 1.2;
				font-size: $base_font_size * 0.9;
				text-transform: uppercase;
				background: $grey_brand;
				color: $grey_light;
				transition: background-color 0.4s ease, color 0.4s ease;

				&:hover,
				&:focus {
					background-color: $orange;
					color: $white;
				}
			}
		}
	}
}
