body.single {
	.container_main_content {
		padding-top: $base_size * 2;
		padding-bottom: $base_size * 2;
	}

	article .container_post {
		margin-bottom: $base_size * 2;
		border: 1px solid darken($grey_light, 5%);
		background-color: $white;

		.post_feature_img {
			height: 180px;

			@media (min-width: $medium) {
				height: 210px;
			}

			@media (min-width: $large) {
				height: 240px;
			}

			.bg_img {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}

			.container_bg_img {
				width: 100%;
				height: 100%;
			}

			.container_bg_img.small {
				@media (min-width: $medium) {
					display: none;
				}
			}

			.container_bg_img.medium_up {
				display: none;

				@media (min-width: $medium) {
					display: block;
				}
			}
		}

		.entry-header,
		.entry-content,
		.entry-footer {
			padding-left: $base_size;
			padding-right: $base_size;
		}

		.entry-header {
			margin-bottom: $base_size;
			border-bottom: 1px solid darken($grey_light, 5%);
		}

		.post_date {
			padding-top: $base_size * 2;
			padding-bottom: $base_size * 2;
			border-bottom: 1px solid darken($grey_light, 5%);
			text-transform: uppercase;
			text-align: center;

			@media (min-width: $medium) {
				display: table-cell;
				width: 22%;
				max-width: $base_size * 9;
				padding: $base_size;
				border-right: 1px solid darken($grey_light, 5%);
				border-bottom: none;
			}

			span {
				font-size: $base_font_size;

				@media (min-width: $medium) {
					display: block;
				}

				&:first-child {
					display: block;
					font-size: $base_font_size * 1.8;
					font-weight: 700;
				}
			}

			p {
				margin: $base_size * 0.6 0 0;
				font-size: $base_font_size * 0.8;

				i {
					font-size: $base_font_size * 1.1;
					vertical-align: middle;
				}
			}
		}

		.container_post_meta {
			@media (min-width: $medium) {
				display: table-cell;
				width: 68%;
				width: calc(100% - 130px); // includes 40px padding
				padding: $base_size;
				vertical-align: top;
			}
		}

		.post_title {
			margin: $base_size * 2 0 $base_size;

			@media (min-width: $medium) {
				display: inline-block;
				margin: 0;
			}

			.entry-title {
				margin: 0;
			}

			a {
				font-size: $base_font_size * 1.6;
			}
		}

		.post_author {
			margin-top: $base_size;
			margin-bottom: $base_size;

			@media (min-width: $medium) {
				margin-top: 0;
			}

			span {
				font-size: $base_font_size * 0.9;
			}

			span > span {
				color: $orange;
			}
		}

		.entry-content {
			border-bottom: 1px solid darken($grey_light, 5%);
		}

		.post_type .genericon-pinned {
			font-size: $base_font_size * 1.5;
			padding: 4px;
			border: 1px solid $orange;
			border-radius: 50%;
			color: $orange;
		}

		.post_cats,
		.post_comments {
			display: block;

			a {
				font-size: $base_font_size * 0.9;
			}
		}

		.table {
			box-sizing: border-box;
			display: table;
			width: 100%;
		}

		.table_cell {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
		}

		.table .table_cell:last-child {
			text-align: right;
		}

		.entry-footer {
			padding-top: $base_size * 2;
			padding-bottom: $base_size * 2;
		}
	}
}
