.site {
	height: 100%;
	transition: transform 200ms ease-in;

	&.active {
		transform: translate3d(15.625rem, 0, 0);
	}

	@media (min-width: $medium) {
		margin-left: 15.625rem;
	}
}

.container_global_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 15.625rem;
	height: 100%;
	padding-top: $base_size*2;
	padding-bottom: $base_size*2;
	background-color: $grey_dark;
    transform: translate3d(-100%, 0, 0);
	transition: transform 200ms ease-in;

	@media (min-width: $medium) {
		transform: translate3d(0, 0, 0);
	}

	ul {
		list-style: none;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	li {
	    margin: 0;
	}

	a {
		text-decoration: none;
		display: block;
		padding: $base_size*1.2 $base_size*1.5;
		border-bottom: 1px solid $grey;
		// letter-spacing: 2px;
		// font-weight: 300;
		font-size: $base_font_size;
		color: $white; 
	}

	a:hover {
	    background: darken($grey_dark, 10%);
	}

}

.container_main_header {
	padding-top: $base_size*2.5;
	padding-bottom: $base_size*2.5;
	background-color: $grey_dark;
	color: $white;
}

.container_js_trigger_menu {
	position: relative;
	padding-top: $base_size;
	padding-bottom: $base_size;
}

.js-trigger-menu {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translate(0,-50%);
	font-size: 28px;
	cursor: pointer;

	@media (min-width: $medium) {
		display: none;
	}

}

.logo_site {
	display: block;
	font-size: $base_font_size*1.2;
	text-transform: uppercase;
	text-align: center;
	color: $white;

	&:hover,
	&:focus {
		color: $white;
	}

}
