.site {
	height: 100%;
	transition: transform 200ms ease-in;

	&.active {
		transform: translate3d(15.625rem, 0, 0);
	}

	@media (min-width: $medium) {
		margin-left: 15.625rem;
		// overflow: hidden;
	}
}

.container_global_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 15.625rem;
	height: 100%;
	padding-top: $base_size*2;
	padding-bottom: $base_size*2;
	background: $grey_dark;
    transform: translate3d(-100%, 0, 0);
	transition: transform 200ms ease-in;

	@media (min-width: $medium) {
		transform: translate3d(0, 0, 0);
	}

	ul {
		list-style: none;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	li {
	    margin: 0;
	}

	a {
		text-decoration: none;
		display: block;
		padding: $base_size*1.2 $base_size*1.5;
		border-bottom: 1px solid $grey;
		// letter-spacing: 2px;
		// font-weight: 300;
		font-size: $base_font_size;
		color: $white; 
	}

	a:hover {
	    background: darken($grey_dark, 10%);
	}

	.search-form {
		position: relative;
		width: 100%;
		padding: $base_size*1.2 $base_size*1.5;
		box-sizing: border-box;
	}

	.search-form input {
		outline: none;
		width: 100%;
		padding: $base_size*0.4 $base_size*0.8 $base_size*0.4 $base_size*3.4;
		font-size: $base_font_size;
	}

	.search-form button[type="submit"] {
		outline: none;
		position: absolute;
		top: 13px;
		// left: 0;
		width: 30px;
		height: 30px;
		margin: 0;
		padding: 0;
	}

}

.js-trigger-menu {
	width: 30px;
	height: 30px;
	// vertical-align: middle;
	background: red;

	@media (min-width: $medium) {
		display: none;
	}
}

.logo_site {
	display: block;
	text-align: center;
}
