body.home {

	.container_hero {
		background-color: red;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.container_main_content {
		padding-top: $base_size*2;
		padding-bottom: $base_size*2;
	}

	.entry-header {
		padding-top: $base_size;
		padding-bottom: $base_size;
	}

	.entry-content,
	.entry-footer {
		padding: $base_size;
	}

	.entry-title,
	.post_author {
		padding-left: $base_size;
		padding-right: $base_size;
	}

	article .container_post {
		margin-bottom: $base_size*2;
		border: 1px solid darken($grey_light, 5%);
		background-color: $white;
	
		.post_meta {
			padding-top: $base_size;
			padding-bottom: $base_size*2;
			border-bottom: 1px solid darken($grey_light, 5%);
			text-transform: uppercase;
			text-align: center;

			span:first-child {
				display: block;
				font-size: $base_font_size*1.8;
			}

		}

		.post_title {
			margin: $base_size*2 0 $base_size;

			.entry-title {
				margin: 0;
			}

			a {
				font-size: $base_font_size*1.6;
			}

		}

		.post_author {
			margin-top: $base_size;
			margin-bottom: $base_size;

			span > span {
				color: $orange;
			}

		}

		.post_feature_img {

			img {
				max-width: 100%;
				height: 180px;
			}
		}

		.entry-content {
			border-bottom: 1px solid darken($grey_light, 5%);
		}

	}

	.container_page_nav {
		padding: $base_size;
		border: 1px solid darken($grey_light, 5%);
		background-color: $white;

		.page_number {
			display: inline-block;
			margin-right: $base_size*0.6;
    		padding: $base_size*0.6 $base_size*1.4;
    		background-color: $grey_light;
    		transition:
    			background-color 0.4s ease,
    			color 0.4s ease;

    		&.current,
    		&:hover {
    			background-color: $orange;
    			color: $white;
    		}

		}
	} 

}